<div class="fondo">
	<div class="container">
		<div class="row" style="padding-top: 30px">
			<div class="col m3"></div>
			<div class="col m6">
				<div class="card-panel blue darken-1">
					<div class="row">
						<div class="col m12 center white-text">
							<h2 style="font-size: 2rem;">Bienvenido a <span class="accent">MedicType</span></h2>
						</div>
					</div>
					<div class="row">
						<div class="col m12 white-text center">
							<p>
								<span class="accent">MedicType</span> es un servicio que permite a los medicos y pacientes lograr automatizar la gestión de historias
								médicas.
								<br> Por favor seleccione un boton para ingresar dependiendo de su tipo de usuario
							</p>
						</div>
					</div>
					<div class="row center">
						<div class="col m6">
							<a class="waves-effect waves-light btn grey darken-4" href="/Medico/Login">Medico</a>
						</div>
						<div class="col m6">
							<a class="waves-effect waves-light btn grey darken-4" href="/Paciente/Login">Paciente</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>