<!DOCTYPE html>
<html lang="ES">

<head>
  <meta charset="utf-8">
  <title>MedicType</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/main.css">
  <!--STYLES END-->
</head>

<body>
  <header>
    <nav class="blue darken-1 white-text">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center accent">MedicType</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/Medico/Login">Médicos</a></li>
          <li><a href="/Paciente/Login">Pacientes</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="grey lighten-5">
    <%- body %>
  </main>
  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->
  <footer class="page-footer blue darken-1 white-text">
    <div class="footer-copyright">
      <div class="container">
        © 2017 MedicType by Queronepi.
      </div>
    </div>
  </footer>
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery-3.2.1.js"></script>
  <script src="/js/dependencies/materialize.js"></script>
  <script src="/js/main.js"></script>
  <!--SCRIPTS END-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>
