
    <form class="col s12" method="POST" action="/Consulta/Crear">
      <div class="row card-panel">
        <div class="col m6 input-field">
          <input placeholder = 'Pedro' id="Nombre" name="Nombre" type="text" class="validate">
                <label for="Nombre">Nombre</label>
        </div>
        <div class="col m6 input-field">
          <input placeholder = 'Perez' id="Apellido" name="Apellido" type="text" class="validate">
                <label for="Apellido">Apellido</label>
        </div>
      <div class="row">
        <div class="col m6 input-field">
          <input placeholder = '25847641' id="Cedula" name="Cedula" type="text" class="validate">
                <label for="Cedula">Cédula</label>
        </div>
      </div>
      <div class="row">
        <div class="col m6 input-field">
          <input value="<%= Medico.id %>" id="idMedico" name="idMedico" type="text" class="validate">
                <label for="idMedico">idMedico</label>
        </div>
      </div>
      
      <div class="row">
        <div class="col s6 input-field">
              <input type="text" class="datepicker" name="FConsulta" />
              <label for="FConsulta">Fecha de la consulta</label>
        </div>
      </div>

      <!-- 
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
-->

    </div>
    </form>