<div class="banner">
  <div class="row">
    <div class="row"></div>
    <div class="row"></div>
    <div class="col m12 valign-wrapper">
      <h3 class="white-text vertical-align">Revisión de patologías</h3>
    </div>
  </div>
</div>
<div class="container">
  <form class="row" method="POST" action="/patologia/enviarFecha">
    <div class="col m12 card-panel">
      <div class="row"></div>
      <div class="row">
        <div class="col m6 input-field">
          <input type="text" placeholder="1999-02-02" class="datepicker" id="fecha1">
          <label for="fecha1">fecha1</label>
        </div>
        <div class="col m6 input-field">
          <input type="text" placeholder="2013-05-03" class="datepicker" id="fecha2">
          <label for="fecha2">fecha2</label>
        </div>
<<<<<<< HEAD
       
        <div class="row">
          <div class="col m12 center">
            <button class="waves-effect waves-light btn blue darken-1" type="submit">Revisar</button>
            
          </div>
=======
      </div>

      <div class="row">
        <div class="col m12 center">
          <button class="waves-effect waves-light btn blue darken-1" type="submit">Revisar</button>
>>>>>>> 4a43294fba7514184199043a4c1246dff1c85e82
        </div>
      </div>
    </div>
  </form>
</div>